<br><br>
<div class="container">
    <div class="row">
        <div class="w3-center">
            <div class="card" ><br>
                <div *ngIf="showweather">
                <div class="content" *ngIf="!isNight">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="content" *ngIf="isNight">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <br>
                <div class="content">
                    {{weather.name}}, {{weather.country}}
                </div><br>
                <div class="content" style="font-size: 12px;">
                    Humidity: {{weather.main.humidity}}%
                </div><br>
                <div class="content" style="font-size: 12px;">
                  Precipitation: {{weather.clouds.all}}%
              </div><br>
              <div class="content" style="font-size: 12px;">
                Wind Details-> Speed: {{weather.wind.speed}} | Deg: {{weather.wind.deg}}
            </div><br>
            </div>
        </div></div>
    </div>
</div>